.button {
    height: 24px;
    background-color: #48B774;
    border-radius: 20px;
    padding: 9px 0 9px 0;
    min-width: 108px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}